<a href="https://colab.research.google.com/github/zaheda6492/Code/blob/main/Arthimetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=2
b=3
c=4
d=a+b+c
print(d)

9

In [ ]:
number1=float(input("enter number1:"))
number2=float(input("enter number2:"))
sum=number1+number2
print("sum:",number1,number2,sum)

enter number1:10
enter number2:15
sum: 10.0 15.0 25.0

In [ ]:
a=float(input("enter value of a :",))
b=float(input("enter value of b :",))
sum = a + b
print("addition of two numbers: ",sum)

enter value of a :3
enter value of b :4
addition of two numbers:  7.0

In [ ]:
a=7
b=5
c=a*b
print("multiplication of two numbers:",c)

multiplication of two numbers: 35

In [ ]:
a=15
b=9
c=a-b
print("subtract two numbers",c)

subtract two numbers 6

In [ ]:
km=5
m=km*1000
print(m)

5000

In [ ]:
a=6
b=3
c=a/b
print("divide two numbers",c)

divide two numbers 2.0